RewriteEngine On

# Redirect path/ -> /path (strip trailing slash)
RewriteRule ^(.*)/$ /$1 [R=301,L]



ErrorDocument 404 /index.html
Redirect 301 /canary.html /islas-canarias.html

# Fix products redirection (from old /assortment to new mermeladas.html at root)
RedirectMatch 301 ^/assortment/?$ /mermeladas.html
