RewriteEngine On

# Redirect path/ -> /path (strip trailing slash)
RewriteRule ^(.*)/$ /$1 [R=301,L]



ErrorDocument 404 /index.html
Redirect 301 /islas-canarias.html /canary.html

# Fix products redirection
RedirectMatch 301 ^/sortiment/?$ /index.html
